<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-xs-12">

      <h2>Directives</h2>

      <!-- Directives -->
      <!-- https://angular.io/guide/built-in-directives -->
      <!-- Built-in directives - Attribure directive(NgClass, NgStyle, NgModel) -->

      <p class="fs-4 text" [ngClass]="isAuthenticated ? 'hightlight' : 'dark'">
        <!-- [ngClass]="'hightlight'" -->
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </p>

      <p class="fs-4 text" [ngStyle]="{ 'color': 'yellow', 'background-color': isAuthenticated ? 'green': 'blue' }">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </p>

      <br>

      <!--
      [ngModel]="name" is the syntax for one-way binding, while,
      [(ngModel)]="name" is for two-way binding, and the syntax is compound from:
      [ngModel]="name" and (ngModelChange)="name = $event" 
      -->

      <label for="example-ngModel">Address</label>
      <input type="text" [(ngModel)]="address" class="form-control" />
      {{ address }}

      <br>
      <!-- https://angular.io/api/forms/NgModel -->
      <input [(ngModel)]="address" #addr="ngModel" required class="form-control"/>
      <p>{{ addr.touched }}</p>

      <br>

      <!-- Built-in structural directives (NgIf, NgFor, NgSwitch) -->
      <ul *ngIf="name === 'Junior'" class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
      </ul>

      <br>

      <ul class="list-group">
        <!-- <li *ngFor="let item of ['item 1', 'item 2', 'item 3', 'item 4', 'item 5', 'item 6']; let i = index" class="list-group-item d-flex justify-content-between align-items-center"> -->
          <li *ngFor="let item of items; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
          {{ item }}
          <span class="badge bg-primary rounded-pill">{{ i + 1 }}</span>
        </li>
      </ul>


    </div>
  </div>
</div>